{% extends 'admin/admin-layout.html' %}
{% set page_title = 'Bookings' %}

{% block page_body %}
<h1>Bookings</h1>

<h6 class="mt-5 mb-3 fs-6 badge bg-secondary fw-normal">Pending Confirmation</h6>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th></th>
        <th>Car</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if bookings['pending']|length == 0 %}
      <tr>
        <td colspan="7" class="text-center text-secondary">No pending bookings</td>
      </tr>
      {% endif %}
      {% for booking in bookings['pending'] %}
      <tr>
        <td><img src="{{booking.car[0].image}}" class="object-fit-cover" width="50" height="50"></td>
        <td>{{booking.car[0].brand}} {{booking.car[0].name}}</td>
        <td>{{booking.date_start.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.date_end.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.days}}</td>
        <td>${{booking.total_price}}</td>
        <td>
          <div class="d-flex flex-wrap gap-1 justify-content-end">
            <a href="{{url_for('admin.manage_booking',booking_id=booking._id,action='accept')}}"
              class="btn btn-sm btn-success">Accept</a>
            <a href="{{url_for('admin.manage_booking',booking_id=booking._id,action='cancel')}}"
              class="btn btn-sm btn-danger">Cancel</a>
            <a href="{{url_for('admin.edit_user',user_id=booking.user_id)}}" class="btn btn-sm btn-primary">
              User details</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h6 class="mt-5 mb-3 fs-6 badge bg-success fw-normal">Active bookings</h6>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th></th>
        <th>Car</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if bookings['active']|length == 0 %}
      <tr>
        <td colspan="7" class="text-center text-secondary">No active bookings</td>
      </tr>
      {% endif %}
      {% for booking in bookings['active'] %}
      <tr>
        <td><img src="{{booking.car[0].image}}" class="object-fit-cover" width="50" height="50"></td>
        <td>{{booking.car[0].brand}} {{booking.car[0].name}}</td>
        <td>{{booking.date_start.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.date_end.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.days}}</td>
        <td>${{booking.total_price}}</td>
        <td>
          <div class="d-flex flex-wrap gap-1 justify-content-end">
            <a href="{{url_for('admin.manage_booking',booking_id=booking._id,action='cancel')}}"
              class="btn btn-sm btn-danger">Cancel</a>
            <a href="{{url_for('admin.edit_user',user_id=booking.user_id)}}" class="btn btn-sm btn-primary">
              User details</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h6 class="mt-5 fs-6 mb-3 badge bg-danger fw-normal">Completed / Cancelled / Other bookings</h6>
<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th></th>
        <th>Car</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if bookings['other']|length == 0 %}
      <tr>
        <td colspan="7" class="text-center text-secondary">No record</td>
      </tr>
      {% endif %}
      {% for booking in bookings['other'] %}
      <tr>
        <td><img src="{{booking.car[0].image}}" class="object-fit-cover" width="50" height="50"></td>
        <td>{{booking.car[0].brand}} {{booking.car[0].name}}</td>
        <td>{{booking.date_start.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.date_end.strftime('%d-%m-%Y')}}</td>
        <td>{{booking.days}}</td>
        <td>${{booking.total_price}}</td>
        <td>
          <div class="d-flex flex-wrap gap-1 justify-content-end">
            <a href="{{url_for('admin.edit_user',user_id=booking.user_id)}}" class="btn btn-sm btn-primary">
              User details</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}