{% extends 'admin/admin-layout.html' %}
{% set page_title = 'Cars' %}

{% block page_body %}
<h1 class="mb-4">Cars</h1>

<a href="{{url_for('admin.add_car')}}" class="btn btn-lg btn-primary">Add new car</a>

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Available</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr>
        <td><img src="{{car.image}}" class="object-fit-cover" width="50" height="50"></td>
        <td>{{car.brand}}</td>
        <td>{{car.name}}</td>
        <td>{{car.model}}</td>
        <td>{{car.price}}</td>
        <td>{{car.quantity}}</td>
        <td>{{car.available}}</td>
        <td><a href="{{url_for('admin.edit_car',car_id=car._id)}}" class="btn btn-sm btn-primary">Edit Car</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}