{% extends 'user-layout.html' %}
{% set page_title = 'About' %}

{% block page_body %}
<div class="container my-5">
  <h1>About us</h1>
<hr>
<div class="container">
  <img src="/website/assets/img/About.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Who are we?</h1>
    <p>Our company is committed to providing exceptional service to its customers. This is achieved by ensuring the availability of a wide range of vehicles, offering competitive rates, and providing excellent customer service. The company also places a high priority on safety and reliability, ensuring that all vehicles are in good condition before they are rented out 9.

      The company also offers a convenient online booking system, allowing customers to book a car, check availability, and make payments online. This system also allows customers to track their reservations and receive reminders about their upcoming rentals 6.
      
      The company operates from multiple locations, providing convenience to customers in various areas. The company also offers a fleet of vehicles at each location, ensuring that customers can always find a suitable car for their needs </p>
  </div>
{% endblock %}
