{% extends 'user-layout.html' %}
{% set page_title = 'Home' %}

{% block page_body %}
<style>
  .hero {
    position: relative;
    height: 500px;
  }

  .hero img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #000);
  }

  .car-card img {
    height: 250px;
    object-fit: cover;
  }
</style>

<div class="hero">
  <img src="{{url_for('static',filename='img/home.jpg')}}" class="img-fluid w-100 object-fit-cover">
  <div class="overlay"></div>
  <div
    class="container position-relative z-2 h-100 d-flex gap-5 flex-column justify-content-center text-light text-center">
    <h1 class="display-1 fw-bold">Car Rental</h1>

    <form action="{{url_for('views.cars')}}"
      class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-gap-3 justify-content-center align-items-center">
      <div class="col">
        <div class="form-floating">
          <select name="brand" id="brand" class="form-select">
            <option value="">Any</option>
            {% for brand in brands %}
            <option>{{brand}}</option>
            {% endfor %}
          </select>
          <label for="brand">Brand</label>
        </div>
      </div>

      <div class="col">
        <div class="form-floating">
          <input name="search" id="search" type="text" class="form-control" placeholder="">
          <label for="search" class="text-secondary">Car name</label>
        </div>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-lg btn-primary w-100">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="container my-5">
  <h1 class="text-center mb-5">Latest Cars</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-gap-3">
    {% for car in cars %}
    <div class="col">
      <div class="car-card card h-100">
        <img src="{{car.image}}" class="card-img-top">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{car.brand}} {{car.name}}</h5>
          <p class="card-text mb-1 text-secondary">{{car.model}}</p>
          <p class="card-text mb-1">Price: <span class="text-danger fw-bold">${{car.price}}</span> per/day</p>
          <p class="card-text">Cars in garage: {{car.quantity|int - (car.rented|int if car.rented else 0)}}</p>
          <a href="{{url_for('views.car_details',car_id=car._id)}}" class="stretched-link mt-auto btn btn-outline-primary">Rent Car</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="mt-5 text-center">
    <a href="{{url_for('views.cars')}}" class="btn btn-lg btn-primary px-5">See all cars</a>
  </div>
</div>
{% endblock %}