{% extends 'common.html' %}

{% block main_body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Car Rental</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-mob">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-mob">
            <div class="navbar-nav">
                <a class="nav-link {{'text-primary' if page_title == 'Home'}}" href="{{url_for('views.home')}}">Home</a>
                <a class="nav-link  {{'text-primary' if page_title == 'About'}}"
                    href="{{url_for('views.about')}}">About</a>
                <a class="nav-link  {{'text-primary' if page_title == 'Contact'}}"
                    href="{{url_for('views.contact')}}">Contact</a>
            </div>
            <div class="ms-auto navbar-nav">
                {% if session.user %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Welcome, {{session.user.first_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if 'admin' in session.user.roles %}
                        <li><a class="dropdown-item" href="{{url_for('admin.dashboard')}}">Administrator</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{url_for('account.manage')}}">Manage Account</a></li>
                        <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a></li>
                    </ul>
                    </li>
                    {% else %}
                    <a class="nav-link  {{'text-primary' if page_title == 'Login'}}"
                        href="{{url_for('auth.login')}}">Login</a>
                    <a class="nav-link  {{'text-primary' if page_title == 'Register'}}"
                        href="{{url_for('auth.register')}}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="position-fixed top-0 end-0 mt-5">
    <div class="container">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <ul class="mb-0">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

{% block page_body %}{% endblock %}
{% endblock %}

{% block main_script %}
{% block page_script %}{% endblock %}
{% endblock %}